@import '../css/setting.css';
@import './normalize.css';
   // sass --watch ./sass/main.scss ./css/style.css

.main {
   background-image: url('../media/menu-slider-photo1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 260px;   
   position: relative;      
   // header
   header {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 130px; 
   .logo-header {
      border: 1px solid #fff;
      padding: 15px 30px;
      transition: .2s;
   }
   .logo-header:hover {
      box-shadow: 0 5px 10px rgba(164,164,164,1);
      margin-bottom: 3px;
   }     
   }
   .menu__list {
      display: flex;
      align-items: center;
      padding: 0;
      margin-top: 30px;
   .menu__link {
      font-family: 'opensans-bold';
      padding: 10px;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
   }
   .menu__link:hover {
      color: #ff7200;
      background-color: #343434;
   }
   }
   .menu__list>li {
      margin-right: 15px;
      list-style-type: none;
      position: relative;
   }
   .menu__list>li:hover .menu__sub-menu-wr {
      display: block;
      z-index: 10;
   }
   .menu__sub-menu-wr {
      display: none;
      width: 250px;
      height: 330px;
      position: absolute;
      top: 27px;
      left: 0;   
   .sub-menu__list {
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
      width: 225px;
      height: 270px;
      background-color: #343434;
      padding: 10px 0 10px 20px;
      text-align: left;
   li {
      position: relative;
      list-style-type: square;
      color: #bbb;
   }
   a:hover {color: #fff;}
   }
   .sub-menu__link::after {
      content: '';
      display: block;
      opacity: 0;
      position: absolute;
      top: 6px;
      right: 0;
      border-top: 5px solid transparent;
      border-left: 5px solid #fff;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
   }
   .sub-menu__link {
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
      text-decoration: none;
      color: #bbb;
      font-family: 'opensans';
      font-size: 16px;
      line-height: 1.5;
   }
   .sub-menu__link:hover::after {
      color: #fff;
      opacity: 1;
   }
   }
   .sub-menu__link:hover + .menu__sub-sub-menu-wr {
      display: block;
   }
   .menu__sub-sub-menu-wr {
      display: none;
      width: 215px;
      height: 130px;
      position: absolute;
      top: -16px;
      left: 222px;
   }
   .sub-sub-menu__list {
      display: block;
      position: absolute;
      top: 4px;
      left: 0px;
      background-color: #343434;
      min-width: 150px;
      padding: 10px 0 10px 20px;
      text-align: left;
   }
   .sub-sub-menu__link {
      display: inline-block;
      margin-bottom: 10px;
      text-decoration: none;
      color: #bbb;
      font-family: 'opensans';
      font-size: 16px;
      line-height: 1.5;  
   }
   .sub-sub-menu__link:hover {
      color: #fff;
   }

   // slider

   .main__slider {
      position: relative;
      margin-top: 215px;
      text-align: center;
      z-index: 5;
      .slick-active {outline: none;}
   }
   .slick-prev {
      width: 43px;
      height: 112px;
      box-sizing: border-box;
      opacity: .75;
      background-image: url('../media/left-button-head-slider.png');
      background-repeat: no-repeat;
      position: absolute;
      top: 35%;
      left: 4%;
      z-index: 10;
   }
   .slick-prev:hover {opacity: 1;}
   .slick-prev::before {content: '';}
   .slick-next {
      width: 43px;
      height: 112px;
      box-sizing: border-box;
      opacity: .75;
      background-image: url('../media/right-button-head-slider.png');
      background-repeat: no-repeat;
      position: absolute;
      top: 35%;
      right: 4%;
      z-index: 10;
   }
   .slick-next::before { content: '';}
   .slick-next:hover {opacity: 1;}   

   // content-slider

   .main__slider-content1-items {
   li:hover {
      color: #ff7200;
   }
   a:hover {
      color: #ff7200;
   }   
   a {
      text-decoration: none;
      color: #fff;
   }
   ul {
      display: flex;
      justify-content: center;
      padding-left: 0;
   }
   li {
      margin-left: 30px; 
      font-size: 18px;
      font-family: 'opensans-semibold'; 
      color: #fff;
   }
   li:first-child {
      list-style-type: none;
   }
   }
   .main__slider-content1 h1 {
      color: #fff;
      font-size: 70px;
      margin: 20px 0;
      font-family: 'opensans';
   }
   .main__slider-content2-text p {
      font-size: 16px;
      font-family: 'opensans';
      color: #fff;
      margin-top: 70px;
   }
   .main__slider-content2 {
      margin-top: 70px;
   }

   // button
   .but {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 185px;
      height: 60px;
      margin: 50px auto 0;
      border: 1px solid #fff;
      border-radius: 3px;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-family: 'opensans';
      transition-duration: .6s;
      outline: none;
   }
   .but:hover {
      background-color: #fff;
      color: #000;
   }
   .main__slider-button2 {
      display: flex;
      justify-content: center;
   a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 185px;
      height: 60px;
      margin-left: 30px;
      border: 1px solid #fff;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-family: 'opensans';
      transition-duration: .6s;
      outline: none;
   }
   a:hover {
      background-color: #fff;
      color: #000;
   }
   }
}
// SECOND

.second {
      padding-bottom: 120px;
      border-top: 2px solid #ff7200;

   .logo-second {
      border: 1px solid #000;
      padding: 10px 25px; 
      // margin: 0;  
      transition: .2s;
   }
   .logo-second:hover {
      box-shadow: 0 4px 4px rgba(50,50,50,.5);   
      margin-bottom: 3px;
   }
   .second__menu {
      display: flex;
      justify-content: space-evenly;
      height: 100px;
      box-shadow: 0 4px 4px rgba(164,164,164,.5);   
   li {position: relative;}
   }
   .second__menu-list>li>a {
      text-decoration: none;
      color: #000;
      font-family: 'opensans-bold';
      font-size: 14px;
      padding: 10px 15px;
   }
   .second__menu-link:hover {
      color: #ff7200;
      background-color: #343434;
   }
   .second__menu-list {
      display: flex;
      align-items: center;
      padding: 10px 0 0 0;
   }
   .second__menu-list>li {
      margin-right: 5px;
      list-style-type: none;
   }
   .second__menu-list>li:hover .second__sub-menu-wr {
      display: block;
   }
   .second__sub-menu-wr{
      display: none;
      width: 250px;
      height: 330px;
      position: absolute;
      top: 25px;
      left: 0;
      .second__sub-menu-list {
         display: block;
         position: absolute;
         left: 0;
         top: 20px;
         width: 225px;
         height: 270px;
         background-color: #343434;
         padding: 20px 0 10px 35px;
         text-align: left;
         z-index: 10;
      li {
         list-style-type: square;
         color: #bbb;
      }
      li:hover {color: #fff;}
      a {
         color: #bbb;
         display: inline-block;
         margin-bottom: 10px;
         text-decoration: none;
         width: 100%;
      }
   
      .second__sub-menu-link::after {
         content: '';
         display: block;
         opacity: 0;
         position: absolute;
         top: 6px;
         right: 0;
         border-top: 5px solid transparent;
         border-left: 5px solid #fff;
         border-right: 5px solid transparent;
         border-bottom: 5px solid transparent;
      }
      .second__sub-menu-link {
         display: inline-block;
         width: 100%;
         margin-bottom: 10px;
         text-decoration: none;
         color: #bbb;
         font-family: 'opensans';
         font-size: 16px;
         line-height: 1.5;
      }
      .second__sub-menu-link:hover {color: #fff;}
      .second__sub-menu-link:hover::after {
         color: #fff;
         opacity: 1;
      }
      }
      .second__sub-menu-link:hover + .second__sub-sub-menu-wr {
         display: block;
      }
   
   }   
   .second__sub-sub-menu-wr {
      display: none;
      width: 215px;
      height: 130px;
      position: absolute;
      top: -16px;
      left: 222px;

   .second__sub-sub-menu-list {
      display: block;
      position: absolute;
      top: 4px;
      left: 0px;
      background-color: #343434;
      width: 170px;
      padding: 10px 0 10px 35px;
      text-align: left;
      }
   .second__sub-sub-menu-link {
      display: inline-block;
      margin-bottom: 10px;
      text-decoration: none;
      color: #bbb;
      font-family: 'opensans';
      font-size: 16px;
      line-height: 1.5;  
      }
   .second__sub-sub-menu-link:hover {
         color: #fff;
      }
   
   }
   .line {
      height: 2px;
      width: 170px;
      margin: 0 auto;
      background-color: rgba(0,0,0,.6);
   }
   // center content

   .second__center-content {
      margin-top: 105px;
      text-align: center;  
      z-index: 5; 
   p {
      position: relative;
      max-width: 600px;
      padding: 15px;
      margin: 0 auto;
      font-family: 'opensans-light';
      color: #666;
   }
   p::after {
      content: 'Lorem Ipsum';
      position: absolute;
      right: 80px;
      top: 60px;
      font-size: 14px;
      font-family: 'opensans-italic';
   }
   h2 {
      margin-bottom: 15px;
      font-family: 'opensans-bold';
      font-size: 36px;
      color: #666;
   }
   }  

   // second slider

   .second__second-slider {
      position: relative;
      width: 570px;
      height: 350px;
      margin-right: 20px;
      z-index: 5;
      .slick-active {outline: none;}
   }
   .slick-list {box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.35)}
   .slick-next {
      position: absolute;
      right: 20px;
      top: 50%;
      width: 50px;
      height: 50px;
      color: #f7f7f7;
      border: 2px solid #f7f7f7;
      background-color: rgba(0,0,0,.2);
      background-image: url('../media/right-button-second-slider.png');
      background-repeat: no-repeat;
      background-position: center;
      z-index: 10;   
      transition-duration: .4s;   
   }
   .slick-next:before {content: "";}
   .slick-next:hover{
      border-color: #ff7200;
      background-color: #f7f7f7;
      background-image: url('../media/right-button-orange-second-slider.png');
   }
   .slick-prev{
      position: absolute;
      left: 20px;
      top: 50%;
      width: 50px;
      height: 50px;
      color: #f7f7f7;
      border: 2px solid #f7f7f7;
      background-color: rgba(0,0,0,.2);
      background-image: url('../media/left-button-second-slider.png');
      background-repeat: no-repeat;
      background-position: center;
      z-index: 10;
      transition-duration: .4s;

   }
   .slick-prev::before {content: "";}
   .slick-prev:hover {
      border-color: #ff7200;
      background-color: #f7f7f7;
      background-image: url('../media/left-button-orange-second-slider.png');
   }
   .second__content {
      display: flex;
      align-items: center;
      justify-content: center;  
      padding-top: 65px;
   }

   // content right

   .second__content-right {
      margin-left: 10px;
      max-width: 570px;
      height: 350px;
   }
   .second__content-right-text {
      text-align: left;
   h2 {
      font-family: 'opensans-bold';
      font-size: 18px;
      color: #666;
      margin: 0 0 30px 0;
   }
   p {
      font-family: 'opensans-light';
      font-size: 14px;
      color: #666;
      margin-bottom: 30px;
   }
   }
   .second__content-right-buttons { 
      display: flex;
      margin-top: 45px;
   a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 50px;
      margin-right: 30px;
      border: 1px solid #ff7200;
      border-radius: 3px;
      text-decoration: none;
      color: #ff7200;
      font-size: 15px;
      font-family: 'opensans';
      transition-duration: .6s;      
   }
   a:hover {
      background-color: #ff7200;
      color: #fff;
   }
}   
}
// AMAZING

.amazing {
      background-image: url('../media/3-section-bg1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      padding: 60px 0 85px 0;
   .amazing__center-content {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 570px;
      h2 {
         font-family: 'opensans-bold';
         font-size: 36px;
         color: #fff;
         margin-bottom: 15px;

      }
      .line {
         height: 2px;
         width: 170px;
         margin: 0 auto;
         background-color: #fff;   
      }
      p {
         font-family: 'opensans-light';
         font-size: 14px;
         color: #fff;
         line-height: 1.5;
      }
   }
   .amazing__titles {
      display: flex;
      flex-direction: column;
      // padding: 0 70px;
      margin-top: 45px;
      .amazing__title1 {margin-left: 100px;}
      .amazing__title4 {margin-left: 100px;}

      h3 {          
         font-family: 'opensans-semibold';
         font-size: 18px;
         color: #fff;      
      }
      p {
         font-family: 'opensans-light';
         font-size: 14px;
         color: #fff;
      }
      .amazing__titles-up {
         display: flex;
         justify-content: space-between;
         position: relative;
         div {
            width: 270px;
            text-align: left;
         } 
      }
      .amazing__titles-down {
         display: flex;
         justify-content: space-between;
         position: relative;
         margin-top: 50px;
         div {
            width: 270px;
            text-align: left;
         } 
      }
   }
   .amazing__title1::before{
      content: '';
      position: absolute;
      top: 20px;
      left: 30px;
      width: 40px;
      height: 40px;
      background-image: url('../media/icon/amazing-responsive.png');
      background-repeat: no-repeat;
   }
   .amazing__title2::before{
      content: '';
      position: absolute;
      top: 20px;
      left: 440px;
      width: 40px;
      height: 40px;
      background-image: url('../media/icon/amazing-magical.png');
      background-repeat: no-repeat;
   }
   .amazing__title3::before{
      content: '';
      position: absolute;
      top: 20px;
      right: 290px;
      width: 40px;
      height: 40px;
      background-image: url('../media/icon/amazing-power.png');
      background-repeat: no-repeat;
   }
   .amazing__title4::before{
      content: '';
      position: absolute;
      top: 20px;
      left: 30px;
      width: 40px;
      height: 40px;
      background-image: url('../media/icon/amazing-creating.png');
      background-repeat: no-repeat;
   }
   .amazing__title5::before{
      content: '';
      position: absolute;
      top: 20px;
      left: 440px;
      width: 40px;
      height: 40px;
      background-image: url('../media/icon/amazing-connectivity.png');
      background-repeat: no-repeat;
   }
   .amazing__title6::before{
      content: '';
      position: absolute;
      top: 20px;
      right: 290px;
      width: 40px;
      height: 40px;
      background-image: url('../media/icon/amazing-action.png');
      background-repeat: no-repeat;
   }
}
// GALERY

.galery {
   .galery__titles {
      display: flex;
      flex-wrap: wrap;
   .title-galery {
      width: 370px;
      height: 255px;
      position: relative;
   }
   .title-galery>img {
      width: 100%;
      height: 100%;
      object-fit: fill;
   }
   }
   .galery__hover-img {
      display: none;
   }
   .galery-hover-icon {
      position: relative;
      // // background: #fff;
      // opacity: .3;
      width: 100%;
      height: 100%;
   }
   .galery-link2::before {
      content: '';
      position: absolute;
      top: 30%;
      right: 25%;
      width: 60px;
      height: 60px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-image: url('../media/icon/galery-out.png');
      background-repeat: no-repeat;
      background-position: center;
      transition-duration: .4s;
   }
   .title-galery:hover .galery__hover-img {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
   .galery-link1:hover::before {
      border-color: #ff7200;
      background-image: url('../media/icon/galery-zoom-orange.png');
      background-color: #f7f7f7;
   }
   .galery-link2:hover::before {
      border-color: #ff7200;
      background-image: url('../media/icon/galery-out-orange.png');
      background-color: #f7f7f7;
   }
   .galery-link1::before {
      content: '';
      position: absolute;
      top: 30%;
      left: 25%;
      width: 60px;
      height: 60px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-image: url('../media/icon/galery-zoom.png');
      background-repeat: no-repeat;
      background-position: center;
      transition-duration: .4s;
   }
   .galery-hover-footer {
      width: 100%;
      height: 30%;
      background-color: #fff;
      text-align: center;
      padding-bottom: 20px;
      h3 {
         font-family: 'opensans-light';
         font-size: 20px;
         color: #4f4f4f;
      }
      p  {
         font-family: 'opensans-light';
         font-size: 14px;
         color: #666;
      }
   }
}
// WE ARE A TEAM

.team {
   padding: 55px 0 85px 0;
   .team__header {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 570px;
   h2 {
      font-family: 'opensans-bold';
      font-size: 36px;
      color: #666;
      margin-bottom: 15px;
      }
   .line {
      height: 2px;
      width: 170px;
      margin: 0 auto;
      background-color: #666;   
      }
   p {
      margin-top: 20px;
      font-family: 'opensans-light';
      font-size: 14px;
      color: #666;
      }
   }
   .team__footer {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 570px;
   h2 {
      font-family: 'opensans-bold';
      font-size: 36px;
      color: #666;
   }
   .line {
      height: 2px;
      width: 170px;
      margin: 0 auto;
      background-color: #666;   
   }
   p {
      font-family: 'opensans-light';
      font-size: 14px;
      color: #666;
   }
   }
   .team__main-content {
         display: flex;
         justify-content: space-between;
         padding: 70px 0 40px 0;
      .team__main-content-title {
         width: 270px;
         .team__main-content-social-icon {
            display: flex;
            justify-content: space-between;
            .icon-f::before {
               content: '';
               width: 20px;
               height: 20px;
               background-image: url('../media/icon/facebook.png');
               background-repeat: no-repeat;
               background-position: center;
               position: absolute;
               top: 25%;
               left: 25%;
            }
            .icon-f:hover::before {
               background-image: url('../media/icon/facebook-hover.png');
            }
            .icon-tw::before {
               content: '';
               width: 20px;
               height: 20px;
               background-image: url('../media/icon/twitter.png');
               background-repeat: no-repeat;
               background-position: center;
               position: absolute;
               top: 25%;
               left: 25%;
            }
            .icon-tw:hover::before {
               background-image: url('../media/icon/twitter-hover.png');
            }
            .icon-t::before {
               content: '';
               width: 20px;
               height: 20px;
               background-image: url('../media/icon/t.png');
               background-repeat: no-repeat;
               background-position: center;
               position: absolute;
               top: 25%;
               left: 25%;
            }
            .icon-t:hover::before {
               background-image: url('../media/icon/t-hover.png');
            }
            .icon-in::before {
               content: '';
               width: 20px;
               height: 20px;
               background-image: url('../media/icon/linkedin.png');
               background-repeat: no-repeat;
               background-position: center;
               position: absolute;
               top: 25%;
               left: 25%;
            }
            .icon-in:hover::before {
               background-image: url('../media/icon/linkedin-hover.png');
            }
            .icon-m::before {
               content: '';
               width: 20px;
               height: 20px;
               background-image: url('../media/icon/mail1.png');
               background-repeat: no-repeat;
               background-position: center;
               position: absolute;
               top: 25%;
               left: 25%;
            }
            .icon-m:hover::before {
               background-image: url('../media/icon/mail-hover.png');
            }
            span {
               display: inline-block;
               position: relative;
               width: 45px;
               height: 45px;
               border: 1px solid transparent;
               border-radius: 50%;
               background-color: #f0f0f0;
               transition-duration: .6s;
               cursor: pointer;
            }
            span:hover {
               background-color: #ff7200;
            }
         }
         span  {
            color: #ff7200;
         }
         p  {
            margin: 22px 0 17px 0;
            font-family: 'opensans-light';
            font-size: 16px;
            color: #666;
         }
      }
      .team__photo {
         width: 270px;
         height: 270px;
         border-radius: 50%;
         background-repeat: no-repeat;
         background-position: center;
      }
      .team__photo-p {
         text-align: left;
      }
   
   .team__main-content-photo1 {
      background-image: url('../media/our-team-photo.png');
   }
   .team__main-content-photo2 {
      background-image: url('../media/our-team-photo1.png');
   }
   .team__main-content-photo3 {
      background-image: url('../media/our-team-photo2.png');
   }
   .team__main-content-photo4 {
      background-image: url('../media/our-team-photo3.png');
   }
   }
   .team__footer {
      h2 {margin-bottom: 15px;}
   }
}
// BUY OXXO

.buy-oxxo {
   padding: 70px 0 95px 0;
   .buy-oxxo__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto; 
      margin-bottom: 70px;     
      h2 {
         margin-bottom: 15px;
         font-family: 'opensans-bold';
         font-size: 36px;
         color: #666;
      }
      .buy-oxxo__line {
         height: 2px;
         width: 170px;
         margin: 0 auto;
         background-color: #666;  
      }
   }
   p {
      span {
         color: #ff7200;
      }
      line-height: 1.5;
      max-width: 770px;
      text-align: center;
      margin: 0 auto;
      font-family: 'opensans';
      font-size: 20px;
      color: #666;
   }
   .buy-oxxo__buttons {
   display: flex;
   justify-content: center;
   margin-top: 35px;
   .basket-orange {margin-right: 30px;}
      a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 50px;
      border: 1px solid #ff7200;
      border-radius: 3px;
      text-decoration: none;
      color: #ff7200;
      font-size: 15px;
      font-family: "opensans";
      transition-duration: 0.2s;
      }
      .basket-orange::before {
      content: '';
      display: none;
      position: absolute;
      top: 28%;
      left: 19%;
      width: 20px;
      height: 20px;
      background-image: url('../media/icon/basket-white.png');
      }
      .mail-orange::before {
      content: '';
      display: none;
      position: absolute;
      top: 29%;
      left: 13%;
      width: 20px;
      height: 20px;
      background-image: url('../media/icon/mail-hover.png');   
      }
      a:hover {
      background-color: #ff7200;
      color: #fff;
      }
      a:hover::before {display: block;}
      img {margin-right: 10px;}
   }
}
// CLIENTS

.clients {
   background-image: url('../media/img-slider-our-clients.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   padding: 60px 0 75px 0;
   .clients__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto; 
      margin-bottom: 70px;     

      h2 {margin-bottom: 15px;
         font-family: 'opensans-bold';
         font-size: 36px;
         color: #fff;
      }
      .clients__line {
         height: 2px;
         width: 170px;
         margin: 0 auto;
         background-color: #fff;  
      }
   }
   .clients__slider {
      width: 770px;
      height: 280px;
      margin: 0 auto;
      .slick-active {outline: none;}
      h3 {margin: 8px 0 23px 0;
         font-family: 'opensans-semibold';
         font-size: 20px;
         color: #fff;
      }
      p {
         margin-bottom: 40px;
         font-family: 'opensans';
         font-size: 16px;
         color: #fff;
      }
      .clients__slider-name {
         font-family: 'opensans-semibold';
         font-size: 16px;
         color: #fff;
         span{
            font-family: 'opensans';
            font-size: 16px;
            color: #ff7200;   
         }
      }
      .slick-next {
         position: absolute;
         right: 42%;
         top: 82%;
         width: 50px;
         height: 50px;
         color: #f7f7f7;
         border: 2px solid #f7f7f7;
         background-color: rgba(0,0,0,.2);
         background-image: url('../media/right-button-second-slider.png');
         background-repeat: no-repeat;
         background-position: center;
         z-index: 10;  
         transition-duration: .4s;
    
      }
      .slick-next:before {content: "";}
      .slick-next:hover{
         border-color: #ff7200;
         background-color: #f7f7f7;
         background-image: url('../media/right-button-orange-second-slider.png');
      }
      .slick-prev{
         position: absolute;
         left: 42%;
         top: 82%;
         width: 50px;
         height: 50px;
         color: #f7f7f7;
         border: 2px solid #f7f7f7;
         background-color: rgba(0,0,0,.2);
         background-image: url('../media/left-button-second-slider.png');
         background-repeat: no-repeat;
         background-position: center;
         z-index: 10;
         transition-duration: .4s;
      }
      .slick-prev::before {content: "";}
      .slick-prev:hover {
         border-color: #ff7200;
         background-color: #f7f7f7;
         background-image: url('../media/left-button-orange-second-slider.png');
      }
   
   }
}
// RESPONSIVE

.responsive {
   padding: 60px 0 190px 0;
   .responsive__header {
      display: flex;
      flex-direction: column;
      margin: 0 auto; 
      margin-bottom: 60px;
      max-width: 570px;
      h2 {margin-bottom: 15px;
         font-family: 'opensans-bold';
         font-size: 36px;
         color: #666;
      }
      .responsive__line {
         height: 2px;
         width: 170px;
         margin: 0 auto;
         background-color: #666;
      }
      p {
         margin-top: 14px;
         line-height: 1.5;     
         font-family: 'opensans-light';
         font-size: 14px;
         color: #666;
      }
   }
   .responsive__content {
         display: flex;
         justify-content: space-between;
         .responsive__image {position: relative;}
         .responsive__slider {
            position: absolute;
            top: 22px;
            left: 22px;
            width: 526px;
            height: 297px;
            .slick-active {outline: none;}
            .slick-next:before {content: "";}
            .slick-next {
               position: absolute;
               right: -12px;
               top: 160px;
               width: 50px;
               height: 50px;
               background-image: url('../media/right-button-responsive-slider-orange.png');
               background-repeat: no-repeat;
               background-position: center;
               z-index: 10;   
               transition-duration: .4s;            
            }
            .slick-prev::before {content: "";}
            .slick-prev{
               position: absolute;
               left: -10px;
               top: 160px;
               width: 50px;
               height: 50px;
               background-image: url('../media/left-button-responsive-slider-orange.png');
               background-repeat: no-repeat;
               background-position: center;
               z-index: 10;
               transition-duration: .4s;         
            }         
            .slick-next:hover {background-image: url('../media/right-button-responsive-slider.png');}
            .slick-prev:hover {background-image: url('../media/left-button-responsive-slider.png');}

         }
         .responsive__right-content {
            max-width: 40%;
            position: relative;
         h2 {
            margin-top: -3px;
            font-family: 'opensans-light';
            font-size: 18px;
            color: #666;   
         }
         p {
            margin-top: -4px;
            line-height: 1.4;
            font-family: 'opensans-light';
            font-size: 14px;
            color: #666;   
         }
         .responsive__content-title {
            text-align: left;
            position: relative;
            margin-bottom: 57px;
         }
      }
      .responsive__content-title1::before {
         content: '';
         position: absolute;
         top: 3px;
         left: -100px;
         width: 70px;
         height: 70px;
         background-image: url('../media/icon/responsive-pc-icon.png');
         background-repeat: no-repeat;
         background-position: center;
      }
      .responsive__content-title2::before {
         content: '';
         position: absolute;
         top: 3px;
         left: -100px;
         width: 70px;
         height: 70px;
         background-image: url('../media/icon/responsive-magic-icon.png');
         background-repeat: no-repeat;
         background-position: center;
      }
      .responsive__content-title3::before {
         content: '';
         position: absolute;
         top: 3px;
         left: -100px;
         width: 70px;
         height: 70px;
         background-image: url('../media/icon/responsive-energy-icon.png');
         background-repeat: no-repeat;
         background-position: center;
      }
   }
}
// CLIENTS LOGO

.clients-logo {
   height: 160px;
   background-color: #ff7200;
   display: flex;
   align-items: center;
   justify-content: center;
   .clients-logo__slider {
      width: 80%;
      margin: 0 auto;
      .slick-next {
         position: absolute;
         right: -10%;
         top: 50%;
         width: 50px;
         height: 50px;
         color: #f7f7f7;
         border: 2px solid #f7f7f7;
         background-color: rgba(0,0,0,.2);
         background-image: url('../media/right-button-second-slider.png');
         background-repeat: no-repeat;
         background-position: center;
         transition-duration: .4s; 
      }
      .slick-next:before {content: "";}
      .slick-next:hover{
         border-color: #ff7200;
         background-color: #f7f7f7;
         background-image: url('../media/right-button-orange-second-slider.png');
      }
      .slick-prev{
         position: absolute;
         left: -10%;
         top: 50%;
         width: 50px;
         height: 50px;
         color: #f7f7f7;
         border: 2px solid #f7f7f7;
         background-color: rgba(0,0,0,.2);
         background-image: url('../media/left-button-second-slider.png');
         background-repeat: no-repeat;
         background-position: center;
         transition-duration: .4s; 
      }
      .slick-prev::before {content: "";}
      .slick-prev:hover {
         border-color: #ff7200;
         background-color: #f7f7f7;
         background-image: url('../media/left-button-orange-second-slider.png');
      }
   }
   .clients-logo__item {
      margin-right: 60px;
      position: relative;
   }
   .clients-logo__tooltip-wr {
      width: 200px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 27%;
      border-radius: 3px;
      background-color: #666;
      text-align: center;
      padding: 10px;
   }      
   .clients-logo__tooltip {
      width: 100%;
      height: 100%;
      h2 {
         font-family: 'opensans-light';
         font-size: 14px;
         color: #fff;
      }
      p {
         font-family: 'opensans-light';
         font-size: 12px;
         color: #fff;
      }
      a {
         text-decoration: none;
         font-family: 'opensans-light';
         font-size: 14px;
         color: #ff7200;
      }   
      
   }
}
      // .clients-logo__tooltip::before {
      //    content: '';
      //    position: absolute;
      //    top: 0;
      //    left: 0;
      //    border-top: 10px solid transparent;
      //    border-left: 10px solid transparent;
      //    border-right: 10px solid transparent;
      //    border-bottom: 10px solid #666;
      // }

      // FOOTER

.footer {
   background-color: #303030;
   padding: 40px 0 80px 0;
   .footer__form-h2 {margin: 17px 0 30px 0;}

   .container {
      display: flex;
      justify-content: space-between;
   }
   .footer__title {
      width: 23%;
      display: flex;
      flex-direction: column;
      text-align: left;
      h2 {
         margin: 17px 0 25px 0;
         font-family: 'opensans';
         font-size: 18px;
         color: #fff;
         img {margin-right: 15px;}
      }
   }
   .footer__title1 {
      .footer__title-icon {
         display: flex;
         align-items: center;
         justify-content: space-between;
     }      
      p {
         margin: 0 0 5px 0;
         font-family: 'opensans-light';
         font-size: 14px;
         color: #fff;
      }
      .contact-info-p {
         margin-bottom: 26px;
         line-height: 1.5;
         font-size: 12px;
      }
      span {
         margin-bottom: 24px;
         font-family: 'opensans-light';
         font-size: 13px;
         color: #acabab;
      }
   }
   .footer__title2-wr {
      display: flex;
      margin-bottom: 25px;
   }
   .footer__title2 {
      h3 {
         margin:0 0 10px 0;
         font-family: 'opensans';
         font-size: 14px;
         color: #fff;
      }
      p {
         margin: 7px 0 3px 0;
         font-family: 'opensans-light';
         font-size: 12px;
         color: #fff;
         line-height: 1.4;
      }
      span {
         font-family: 'opensans-light';
         font-size: 13px;
         color: #ff7200;
      }
      .footer__title2-text {margin-left: 15px;}
   }
   .footer__accordeon {
      p {
         text-align: left;
         font-family: 'opensans-light';
         font-size: 13px;
         color: #acabab;
         padding: 0;
         margin: 0;
      }
      .footer__accordeon-btn {
         background-color: #303030;
         color: #fff;
         cursor: pointer;
         padding: 0;
         width: 100%;
         height: 45px;
         text-align: left;
         outline: none;
         border: none;
         border-top: 1px solid #dbdbdb;
         position: relative;
         transition: 0.4s;
         font-family: 'opensans';
         font-size: 14px;
      }
      .footer__accordeon-btn:after {
         content: '✛'; 
         position: absolute;
         top: 30%;
         right: 0;
         font-size: 10px;
         color: #fff;
         width: 16px;
         height: 16px;
         background-color: #ff7200;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;}
      .active:after {
         content: "−"; 
      }
      .footer__accordeon-panel {
         padding: 0;
         background-color: #303030;
         display: none;
         overflow: hidden;
      }
   }
   .footer__form {
      width: 100%;
      .footer__form-text, 
      .footer__form-email {
         position: relative;
         width: 100%;
         height: 35px;
         // margin-bottom: 15px;
         outline: none;
         z-index: 5;
         border: none;
         box-sizing: border-box;
         padding: 0 10px;
         }
      .footer__form-text-icon {
         position: relative;
         margin-bottom: 20px;
         img {
            position: absolute;
            top: 10px;
            right: 10px; 
            z-index: 10;        
         }
      }
      .footer__form-email-icon {
         position: relative;
         margin-bottom: 20px;
         img {
            position: absolute;
            top: 10px;
            right: 10px; 
            z-index: 10;
         }
      }
      .footer__form-area-icon {
         position: relative;
         margin-bottom: 20px;
         img {
            position: absolute;
            top: 10px;
            right: 10px; 
            z-index: 10;
         }
      }
      .footer__form-area {
         position: relative;
         width: 100%;
         height: 120px;
         padding: 0;
         // margin-bottom: 15px;
         resize: none;
         outline: none;
         z-index: 5;
         border: none;
         box-sizing: border-box;
         padding: 10px 10px 0 10px;
      }
      // .footer__form-text::before {
      //    content: url('../media/icon/footer-input-text-icon.png');
      //    position: absolute;
      //    top: 0;
      //    right: 0;
      //    z-index: 10;
         // width: 20px;
         // height: 20px;
         // background-image: url('../media/icon/footer-input-text-icon.png');
         // background-repeat: no-repeat;            
   }
   .footer__form-btn {
      width: 113px;
      height: 35px;
      border: none;
      background-color: #ff7200;
      color: #fff;
      font-family: 'opensans-light';
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;
      outline: none;
   }
   .footer__form-btn-wr {
      display: flex;
      justify-content: flex-end;
   }
}

// BUTTOM 

.buttom {
   height: 60px;
   background-color: #202020;
   .container {
      display: flex;
      justify-content: space-between;
   }
   p {
      font-family: 'opensans-light';
      font-size: 14px;
      color: #fff;
   }
   .buttom__left-content {
      display: flex;
      width: 40%;
      align-items: center;
      justify-content: space-between;
     }
     .buttom__right-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
           text-decoration: none;
           font-family: 'opensans-light';
           font-size: 14px;
           color: #fff;
           margin-right: 20px;
        }
     }
}

   



















