@import '../css/setting.css';
@import './normalize.css';

.main {
   background-image: url('../media/menu-slider-photo1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 260px;   
   position: relative;  
   overflow: hidden;    
   // header
   header {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      min-height: 130px;   
.menu-fixed {
   position: fixed;
   top: 0;
   left: 50%;
   -webkit-transform: translate(-50%);
           transform: translate(-50%);
   width: 100%;
   z-index: 50;
   border-top: 2px solid #ff7200;
   background-color: rgba(250,250,250,.6);
   display: -webkit-box;
   display: flex;
   -webkit-box-pack: space-evenly;
           justify-content: space-evenly;
   height: 100px;
   box-shadow: 0 4px 4px rgba(164,164,164,.5);

   .menu__link {
      color: #666;
   }
   .logo-header-fixed {
      display: block;
      position: relative;
      margin-top: 50px;
   }
   .logo-header {display: none;}
   }   
   .main__menu-mobile-wr {
      display: none;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      width: 100%;
      height: 10%;
      background-color: rgba(150, 150, 150,1);
      position: fixed; 
      top: 10px; 
      z-index: 25; 
      .main__mobile-nav.main__mobile-nav-active {
      -webkit-transform: translate(-100%);
              transform: translate(-100%);
      -webkit-transition: -webkit-transform 0.5s ease-in;
      transition: -webkit-transform 0.5s ease-in;
      transition: transform 0.5s ease-in;
      transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
      }
      .main__mobile-nav {
         display: -webkit-box;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
                 flex-direction: column;
         text-align: center;
         width: 200px;
         padding: 30px 20px 0;
         position: absolute;
         top: 73px;
         right: -240px;
         background-color: rgba(150, 150, 150,1);
         z-index: 15;
         -webkit-transform: translate(100%);
                 transform: translate(100%);
         -webkit-transition: -webkit-transform 0.5s ease-in;
         transition: -webkit-transform 0.5s ease-in;
         transition: transform 0.5s ease-in ;
         transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;   
         a::before {
            content: '>';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            z-index: 15;
            opacity: 0;
         }
         a:hover::before {opacity: 1;}   
         a {
            display: inline-block;
            position: relative;
            width: 100%;
            text-decoration: none;
            color: #fff;
            font-family: 'opensans-bold';
            font-size: 22px;
            margin-bottom: 40px;
            -webkit-transition: 0.5s;
            transition: 0.5s;
         }
         a:hover {color: #ff7200;}
      }     
   }
   .main__logo-mobile {
      img {
         width: 100px;
         padding: 10px;
         border: 1px solid #fff;
      }
   }
   .menu-icon-wrapper {
      width: 30px;
      height: 30px;
      display:block;
      position: absolute;
      top: 25px;
      right: 30px; 
      z-index: 20; 
      cursor: pointer;   
      .menu-icon {
         position: relative;
         width: 30px;
         height: 5px;
         background-color: #fff;
      }         
      .menu-icon::before {
         position: absolute;
         left: 0;
         top: -10px;
         content: '';
         width: 30px;
         height: 5px;
         background-color: #fff;
         -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
         transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
         transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
         transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;         
      }         
      .menu-icon::after {
         position: absolute;
         left: 0;
         top: 10px;
         content: '';
         width: 30px;
         height: 5px;
         background-color: #fff;
         -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
         transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
         transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
         transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;         
      }         
      .menu-icon.menu-icon-active {
         background-color: transparent;
      }         
      .menu-icon.menu-icon-active::before {
         -webkit-transform: rotate(45deg);
                 transform: rotate(45deg);
         top: 0;
         -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
         transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
         transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
         transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
      }         
      .menu-icon.menu-icon-active::after {
         -webkit-transform: rotate(-45deg);
                 transform: rotate(-45deg);
         top: 0;
         -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
         transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
         transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
         transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
      }
   }
   .logo-header {
      position: relative;
      border: 1px solid #fff;
      padding: 15px 30px;
      -webkit-transition: .2s;
      transition: .2s;
   }
   .logo-header-fixed {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border: 1px solid #000;
      padding: 10px 25px; 
      -webkit-transition: .2s; 
      transition: .2s;
      display: none;
   }
   .logo-header-fixed:hover {
      box-shadow: 0 4px 4px rgba(50,50,50,.5);   
      margin-bottom: 3px;
   }

   .logo-header:hover {
      box-shadow: 0 5px 10px rgba(164,164,164,1);
      margin-bottom: 3px;
   }     
   }
   .menu__list {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      padding: 0;
      margin-top: 30px;
   .menu__link {
      font-family: 'opensans-bold';
      padding: 10px;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
   }
   .menu__link:hover {
      color: #ff7200;
      background-color: #343434;
   }
   }
   .menu__list>li {
      margin: 0 7px;
      list-style-type: none;
      position: relative;
   }
   .menu__list>li:hover .menu__sub-menu-wr {
      display: block;
      z-index: 10;
   }
   .menu__sub-menu-wr {
      display: none;
      width: 250px;
      height: 330px;
      position: absolute;
      top: 27px;
      left: 0;   
   .sub-menu__list {
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
      width: 225px;
      height: 270px;
      background-color: #343434;
      padding: 10px 0 10px 20px;
      text-align: left;
   li {
      position: relative;
      list-style-type: square;
      color: #bbb;
   }
   a:hover {color: #fff;}
   }
   .sub-menu__link {  
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
      text-decoration: none;
      color: #bbb;
      font-family: 'opensans';
      font-size: 16px;
      line-height: 1.5;      
   }
   .sub-menu__link::after {
      content: '';
      display: block;
      opacity: 0;
      position: absolute;
      top: 6px;
      right: -3px;
      border-top: 5px solid transparent;
      border-left: 5px solid #fff;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
   }
   .sub-menu__link:hover::after {
      color: #fff;
      opacity: 1;
   }   
   }
   .sub-menu__list>li:hover  .menu__sub-sub-menu-wr {
      display: block;
   }
   .menu__sub-sub-menu-wr {
      display: none;
      width: 215px;
      height: 130px;
      position: absolute;
      top: -16px;
      left: 222px;
   }
   .sub-sub-menu__list {
      display: block;
      position: absolute;
      top: 4px;
      left: 0px;
      background-color: #343434;
      min-width: 150px;
      padding: 10px 0 10px 20px;
      text-align: left;
   }
   .sub-sub-menu__link {
      display: inline-block;
      margin-bottom: 10px;
      text-decoration: none;
      color: #bbb;
      font-family: 'opensans';
      font-size: 16px;
      line-height: 1.5;  
   }
   .sub-sub-menu__link:hover {
      color: #fff;
   }

   // slider

   .main__slider {
      position: relative;
      margin-top: 215px;
      text-align: center;
      z-index: 5;
      .slick-active {outline: none;}
   }
   .slick-prev {
      width: 43px;
      height: 112px;
      box-sizing: border-box;
      opacity: .75;
      background-image: url('../media/left-button-head-slider.png');
      background-repeat: no-repeat;
      position: absolute;
      top: 35%;
      left: 4%;
      z-index: 10;
   }
   .slick-prev:hover {opacity: 1;}
   .slick-prev::before {content: '';}
   .slick-next {
      width: 43px;
      height: 112px;
      box-sizing: border-box;
      opacity: .75;
      background-image: url('../media/right-button-head-slider.png');
      background-repeat: no-repeat;
      position: absolute;
      top: 35%;
      right: 4%;
      z-index: 10;
   }
   .slick-next::before { content: '';}
   .slick-next:hover {opacity: 1;}   

   // content-slider

   .main__slider-content1-items {
   li:hover {
      color: #ff7200;
   }
   a:hover {
      color: #ff7200;
   }   
   a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      outline: none;
   }
   ul {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
      padding-left: 0;
   }
   li {
      margin-left: 30px; 
      font-size: 18px;
      font-family: 'opensans-semibold'; 
      color: #fff;
   }
   li:first-child {
      list-style-type: none;
   }
   }
   .main__slider-content1 h1 {
      color: #fff;
      font-size: 70px;
      margin: 20px 0;
      font-family: 'opensans';
      text-transform: uppercase;
   }
   .main__slider-content2 p {
      font-size: 16px;
      font-family: 'opensans';
      color: #fff;
      margin-top: 70px;
   }
   .main__slider-content2 {
      margin-top: 70px;
   }

   // button
   .but {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      width: 185px;
      height: 60px;
      margin: 50px auto 0;
      border: 1px solid #fff;
      border-radius: 3px;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-family: 'opensans';
      -webkit-transition-duration: .6s;
              transition-duration: .6s;
      outline: none;
      text-transform: uppercase;
   }
   .but:hover {
      background-color: #fff;
      color: #000;
   }
   .main__slider-button2 {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
   a {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      width: 185px;
      height: 60px;
      margin-left: 30px;
      border: 1px solid #fff;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-family: 'opensans';
      -webkit-transition-duration: .6s;
              transition-duration: .6s;
      outline: none;
      text-transform: uppercase;
   }
   a:hover {
      background-color: #fff;
      color: #000;
      }
   }
}
// SECOND

.second {
      padding-bottom: 120px;
      border-top: 2px solid #ff7200;
  
   // center content

   .second__center-content {
      margin-top: 105px;
      text-align: center;  
      z-index: 5; 
   p {
      position: relative;
      max-width: 600px;
      padding: 15px;
      margin: 0 auto;
      font-family: 'opensans-light';
      color: #666;
   }
   p::after {
      content: 'Lorem Ipsum';
      position: absolute;
      right: 10%;
      top: 95%;
      font-size: 14px;
      font-family: 'opensans-italic';
   }
   h2 {
      margin-bottom: 15px;
      font-family: 'opensans-bold';
      font-size: 36px;
      color: #666;
      text-transform: uppercase;
   }
   }  

   // second slider

   .second__second-slider {
      position: relative;
      width: 570px;
      margin-right: 20px;
      z-index: 5;
      overflow: hidden;
      .slick-active {outline: none;}
   }
   .slick-list {box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.35)}
   .slick-next {
      position: absolute;
      right: 20px;
      top: 50%;
      width: 50px;
      height: 50px;
      color: #f7f7f7;
      border: 2px solid #f7f7f7;
      background-color: rgba(0,0,0,.2);
      background-image: url('../media/right-button-second-slider.png');
      background-repeat: no-repeat;
      background-position: center;
      z-index: 10;   
      -webkit-transition-duration: .4s;   
              transition-duration: .4s;   
   }
   .slick-next:before {content: "";}
   .slick-next:hover{
      border-color: #ff7200;
      background-color: #f7f7f7;
      background-image: url('../media/right-button-orange-second-slider.png');
   }
   .slick-prev{
      position: absolute;
      left: 20px;
      top: 50%;
      width: 50px;
      height: 50px;
      color: #f7f7f7;
      border: 2px solid #f7f7f7;
      background-color: rgba(0,0,0,.2);
      background-image: url('../media/left-button-second-slider.png');
      background-repeat: no-repeat;
      background-position: center;
      z-index: 10;
      -webkit-transition-duration: .4s;
              transition-duration: .4s;

   }
   .slick-prev::before {content: "";}
   .slick-prev:hover {
      border-color: #ff7200;
      background-color: #f7f7f7;
      background-image: url('../media/left-button-orange-second-slider.png');
   }
   .second__content {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;  
      padding-top: 65px;
   }

   // content right

   .second__content-right {
      margin-left: 10px;
      max-width: 570px;
      height: 350px;
      text-align: left;
   h2 {
      font-family: 'opensans-bold';
      font-size: 18px;
      color: #666;
      margin: 0 0 30px 0;
   }
   p {
      font-family: 'opensans-light';
      font-size: 14px;
      color: #666;
      margin-bottom: 30px;
   }
   }
   .second__content-right-buttons { 
      display: -webkit-box; 
      display: flex;
      margin-top: 45px;
   a {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      width: 160px;
      height: 50px;
      margin-right: 30px;
      border: 1px solid #ff7200;
      border-radius: 3px;
      text-decoration: none;
      color: #ff7200;
      font-size: 15px;
      font-family: 'opensans';
      -webkit-transition-duration: .4s;
              transition-duration: .4s; 
      text-transform: uppercase;     
   }
   a:hover {
      background-color: #ff7200;
      color: #fff;
   }
}   
}
// AMAZING

.amazing {
      background-image: url('../media/3-section-bg1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      padding: 60px 0 40px 0;
   .amazing__center-content {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      margin: 0 auto;
      max-width: 570px;
      h2 {
         font-family: 'opensans-bold';
         font-size: 36px;
         color: #fff;
         margin-bottom: 15px;
         text-transform: uppercase;
      }
      .line {
         height: 2px;
         width: 170px;
         margin: 0 auto;
         background-color: #fff;   
      }
      p {
         font-family: 'opensans-light';
         font-size: 14px;
         color: #fff;
         line-height: 1.5;
      }
   }
   .amazing__titles {
      display: -webkit-box;
      display: flex;
      margin-top: 45px;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
              justify-content: space-between;
      .amazing__title {
         width: 30%;
         display: -webkit-box;
         display: flex;
         margin-bottom: 45px;
         .amazing__title-img {
            padding-top: 20px;
            width: 20%;
            text-align: end;
            margin-right: 30px;
         }
         .amazing__title-text {
            width: 80%;
         }
      }
      h3 {      
         text-align: left;    
         font-family: 'opensans-semibold';
         font-size: 18px;
         color: #fff;
         text-transform: uppercase;      
      }
      p {
         font-family: 'opensans-light';
         font-size: 14px;
         color: #fff;
         text-align: left;
         line-height: 1.5;
      }      
   }   
}
// GALERY

.galery {
   .galery__titles {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      background-color: #fff;
   .galery__slider-mobile {
      display: none;
      width: 100%;
      height: 100%;
      overflow: hidden;
      outline: none;
      background-color: #fff;
      .galery__slider-mobile-img {
      position: relative;
      outline: none;
      }
      .galery__slider-mobile-img:hover .galery__hover-img {
         display: -webkit-box;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
                 flex-direction: column;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }   
      .slick-prev:before, 
      .slick-next:before {
         content: '';
      }
      .slick-next {
         position: absolute;
         right: 0;
         top: 45%;
         width: 35px;
         height: 35px;
         color: #f7f7f7;
         border: 2px solid #f7f7f7;
         background-color: rgba(0,0,0,.2);
         background-image: url('../media/right-button-second-slider.png');
         background-repeat: no-repeat;
         background-position: center;
         z-index: 10;   
         -webkit-transition-duration: .4s;   
                 transition-duration: .4s;   
      }
      .slick-next:hover{
         border-color: #ff7200;
         background-color: #f7f7f7;
         background-image: url('../media/right-button-orange-second-slider.png');
      }
      .slick-prev{
         position: absolute;
         left: 0;
         top: 45%;
         width: 35px;
         height: 35px;
         color: #f7f7f7;
         border: 2px solid #f7f7f7;
         background-color: rgba(0,0,0,.2);
         background-image: url('../media/left-button-second-slider.png');
         background-repeat: no-repeat;
         background-position: center;
         z-index: 10;
         -webkit-transition-duration: .4s;
                 transition-duration: .4s;   
      }
      .slick-prev:hover {
         border-color: #ff7200;
         background-color: #f7f7f7;
         background-image: url('../media/left-button-orange-second-slider.png');
      }      
      img {  
      width: 100%;
      }
   }
   .title-galery {
      width: 25%;
      height: 255px;
      position: relative;
   }
   .title-galery>img {
      width: 100%;
      height: 100%;
      -o-object-fit: fill;
         object-fit: fill;
   }
   }
   .galery__hover-img {
      display: none;
   }
   .galery-hover-icon {
      position: relative;
      width: 100%;
      height: 100%;
   }
   .galery-link2::before {
      content: '';
      position: absolute;
      top: 30%;
      right: 25%;
      width: 60px;
      height: 60px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-image: url('../media/icon/galery-out.png');
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transition-duration: .4s;
              transition-duration: .4s;
   }
   .title-galery:hover .galery__hover-img {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
   .galery-link1:hover::before {
      border-color: #ff7200;
      background-image: url('../media/icon/galery-zoom-orange.png');
      background-color: #f7f7f7;
   }
   .galery-link2:hover::before {
      border-color: #ff7200;
      background-image: url('../media/icon/galery-out-orange.png');
      background-color: #f7f7f7;
   }
   .galery-link1::before {
      content: '';
      position: absolute;
      top: 30%;
      left: 25%;
      width: 60px;
      height: 60px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-image: url('../media/icon/galery-zoom.png');
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transition-duration: .4s;
              transition-duration: .4s;
   }
   .galery-hover-footer {
      width: 100%;
      height: 30%;
      background-color: #fff;
      text-align: center;
      padding-bottom: 20px;
      h3 {
         font-family: 'opensans-light';
         font-size: 20px;
         color: #4f4f4f;
      }
      p  {
         font-family: 'opensans-light';
         font-size: 14px;
         color: #666;
      }
   }
}
// WE ARE A TEAM

.team {
   padding: 55px 0 85px 0;
   .team__header {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      margin: 0 auto;
      max-width: 570px;
   h2 {
      font-family: 'opensans-bold';
      font-size: 36px;
      color: #666;
      margin-bottom: 15px;
      text-transform: uppercase;
      }
   .line {
      height: 2px;
      width: 170px;
      margin: 0 auto;
      background-color: #666;   
      }
   p {
      margin-top: 20px;
      font-family: 'opensans-light';
      font-size: 14px;
      color: #666;
      }
   }   
   .team__footer {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      margin: 40px auto 0;
      max-width: 570px;
   h2 {
      font-family: 'opensans-bold';
      font-size: 36px;
      color: #666;
      margin: 30px 0 15px 0;
      text-transform: uppercase;
   }
   .line {
      height: 2px;
      width: 170px;
      margin: 0 auto;
      background-color: #666;   
   }
   p {
      font-family: 'opensans-light';
      font-size: 14px;
      color: #666;
      line-height: 1.4;
   }
   }
   .team__main-content {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      margin-top: 70px;
      .team__main-content-title {
         width: 23%;
         span  {
            color: #ff7200;
         }
         p  {
            margin: 20px 0 17px 0;
            font-family: 'opensans-light';
            font-size: 15px;
            color: #666;
            line-height: 1.3;
         }
      }
      ul {
         display: -webkit-box;
         display: flex;
         -webkit-box-pack: space-evenly;
                 justify-content: space-evenly;
         padding: 0;  
         li {
            list-style-type: none;
         }
         .icon-f {
            display: -webkit-box;
            display: flex;
            width: 45px;
            height: 45px;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: #f0f0f0;
            background-image: url('../media/icon/facebook.png');
            background-repeat: no-repeat;
            background-position: center;
         }
         .icon-f:hover {
            background-color: #ff7200;
            background-image: url('../media/icon/facebook-hover.png');
         }
         .icon-tw {
            display: -webkit-box;
            display: flex;
            width: 45px;
            height: 45px;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: #f0f0f0;
            background-image: url('../media/icon/twitter.png');
            background-repeat: no-repeat;
            background-position: center;
         }
         .icon-tw:hover {
            background-color: #ff7200;
            background-image: url('../media/icon/twitter-hover.png');
         }
         .icon-t {
            display: -webkit-box;
            display: flex;
            width: 45px;
            height: 45px;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: #f0f0f0;
            background-image: url('../media/icon/t.png');
            background-repeat: no-repeat;
            background-position: center;
         }
         .icon-t:hover {
            background-color: #ff7200;
            background-image: url('../media/icon/t-hover.png');
         }
         .icon-in {
            display: -webkit-box;
            display: flex;
            width: 45px;
            height: 45px;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: #f0f0f0;
            background-image: url('../media/icon/linkedin.png');
            background-repeat: no-repeat;
            background-position: center;
         }
         .icon-in:hover {
            background-color: #ff7200;
            background-image: url('../media/icon/linkedin-hover.png');
         }
         .icon-m {
            display: -webkit-box;
            display: flex;
            width: 45px;
            height: 45px;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: #f0f0f0;
            background-image: url('../media/icon/mail1.png');
            background-repeat: no-repeat;
            background-position: center;
         }
         .icon-m:hover {
            background-color: #ff7200;
            background-image: url('../media/icon/mail-hover.png');
         }
      }
      .team__photo {
         width: 250px;
         height: 250px;
         border-radius: 50%;
         background-repeat: no-repeat;
         background-position: center;
         margin: 0 auto;
      }
      .team__photo-p {
         text-align: left;
      }      
      .team__main-content-photo1 {
         background-image: url('../media/our-team-photo.png');
      }
      .team__main-content-photo2 {
         background-image: url('../media/our-team-photo1.png');
      }
      .team__main-content-photo3 {
         background-image: url('../media/our-team-photo2.png');
      }
      .team__main-content-photo4 {
         background-image: url('../media/our-team-photo3.png');
      }   
   }
}
// BUY OXXO

.buy-oxxo {
   padding: 65px 0 95px 0;
   .buy-oxxo__header {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      margin: 0 auto; 
      margin-bottom: 70px;     
      h2 {
         margin-bottom: 15px;
         font-family: 'opensans-bold';
         font-size: 36px;
         color: #666;
      }
      .buy-oxxo__line {
         height: 2px;
         width: 170px;
         margin: 0 auto;
         background-color: #666;  
      }
   }
   p {
      span {
         color: #ff7200;
      }
      line-height: 1.5;
      max-width: 770px;
      text-align: center;
      margin: 0 auto;
      font-family: 'opensans';
      font-size: 20px;
      color: #666;
   }
   .buy-oxxo__buttons {
   display: -webkit-box;
   display: flex;
   -webkit-box-pack: center;
           justify-content: center;
   margin-top: 35px;
      a {
      margin: 0 15px;
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      width: 160px;
      height: 50px;
      border: 1px solid #ff7200;
      border-radius: 3px;
      text-decoration: none;
      color: #ff7200;
      font-size: 15px;
      font-family: "opensans";
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s;
      }
      .basket-orange::before {
      content: '';
      display: none;
      position: absolute;
      top: 28%;
      left: 19%;
      width: 20px;
      height: 20px;
      background-image: url('../media/icon/basket-white.png');
      }
      .mail-orange::before {
      content: '';
      display: none;
      position: absolute;
      top: 29%;
      left: 13%;
      width: 20px;
      height: 20px;
      background-image: url('../media/icon/mail-hover.png');   
      }
      a:hover {
      background-color: #ff7200;
      color: #fff;
      }
      a:hover::before {display: block;}
      img {margin-right: 10px;}
   }
}
// CLIENTS

.clients {
   background-image: url('../media/img-slider-our-clients.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   padding: 60px 0 75px 0;
   .clients__header {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      margin: 0 auto; 
      margin-bottom: 70px;     

      h2 {margin-bottom: 15px;
         font-family: 'opensans-bold';
         font-size: 36px;
         color: #fff;
      }
      .clients__line {
         height: 2px;
         width: 170px;
         margin: 0 auto;
         background-color: #fff;  
      }
   }
   .clients__slider {
      width: 100%;
      height: 280px;
      margin: 0 auto;
      .slick-active {outline: none;}
      h3 {margin: 8px 0 23px 0;
         font-family: 'opensans-semibold';
         font-size: 20px;
         color: #fff;
      }
      p {
         margin-bottom: 40px;
         font-family: 'opensans';
         font-size: 16px;
         color: #fff;
      }
      .clients__slider-name {
         font-family: 'opensans-semibold';
         font-size: 16px;
         color: #fff;
         span{
            font-family: 'opensans';
            font-size: 16px;
            color: #ff7200;   
         }
      }
      .slick-next {
         position: absolute;
         right: 42%;
         top: 82%;
         width: 50px;
         height: 50px;
         color: #f7f7f7;
         border: 2px solid #f7f7f7;
         background-color: rgba(0,0,0,.2);
         background-image: url('../media/right-button-second-slider.png');
         background-repeat: no-repeat;
         background-position: center;
         z-index: 10;  
         -webkit-transition-duration: .4s;  
                 transition-duration: .4s;
    
      }
      .slick-next:before {content: "";}
      .slick-next:hover{
         border-color: #ff7200;
         background-color: #f7f7f7;
         background-image: url('../media/right-button-orange-second-slider.png');
      }
      .slick-prev{
         position: absolute;
         left: 42%;
         top: 82%;
         width: 50px;
         height: 50px;
         color: #f7f7f7;
         border: 2px solid #f7f7f7;
         background-color: rgba(0,0,0,.2);
         background-image: url('../media/left-button-second-slider.png');
         background-repeat: no-repeat;
         background-position: center;
         z-index: 10;
         -webkit-transition-duration: .4s;
                 transition-duration: .4s;
      }
      .slick-prev::before {content: "";}
      .slick-prev:hover {
         border-color: #ff7200;
         background-color: #f7f7f7;
         background-image: url('../media/left-button-orange-second-slider.png');
      }
   
   }
}
// RESPONSIVE

.responsive {
   padding: 60px 0 100px 0;
   .responsive__header {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      margin: 0 auto; 
      margin-bottom: 60px;
      max-width: 570px;
      h2 {margin-bottom: 15px;
         font-family: 'opensans-bold';
         font-size: 36px;
         color: #666;
      }
      .responsive__line {
         height: 2px;
         width: 170px;
         margin: 0 auto;
         background-color: #666;
      }
      p {
         margin-top: 14px;
         line-height: 1.5;     
         font-family: 'opensans-light';
         font-size: 14px;
         color: #666;
      }
   }
   .responsive__content {
         display: -webkit-box;
         display: flex;
         -webkit-box-pack: justify;
                 justify-content: space-between;
         position: relative;
         .responsive__img-mobile {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
         }
         .responsive__image {
         position: relative;
         margin: 0 auto;
         }
         .responsive__slider {
            position: absolute;
            top: 22px;
            left: 22px;
            width: 526px;
            height: 297px;
            overflow: hidden;
            .slick-active {outline: none;}
            .slick-next:before {content: "";}
            .slick-next {
               position: absolute;
               right: -12px;
               top: 160px;
               width: 50px;
               height: 50px;
               background-image: url('../media/right-button-responsive-slider-orange.png');
               background-repeat: no-repeat;
               background-position: center;
               z-index: 10;   
               -webkit-transition-duration: .4s;   
                       transition-duration: .4s;            
            }
            .slick-prev::before {content: "";}
            .slick-prev{
               position: absolute;
               left: -10px;
               top: 160px;
               width: 50px;
               height: 50px;
               background-image: url('../media/left-button-responsive-slider-orange.png');
               background-repeat: no-repeat;
               background-position: center;
               z-index: 10;
               -webkit-transition-duration: .4s;
                       transition-duration: .4s;         
            }         
            .slick-next:hover {background-image: url('../media/right-button-responsive-slider.png');}
            .slick-prev:hover {background-image: url('../media/left-button-responsive-slider.png');}
         }
         .responsive__right-content {
            max-width: 50%;
            position: relative;
         h2 {
            margin-top: -3px;
            font-family: 'opensans-light';
            font-size: 18px;
            color: #666;   
         }
         p {
            margin-top: -4px;
            line-height: 1.4;
            font-family: 'opensans-light';
            font-size: 14px;
            color: #666;   
         }
         .responsive__content-title {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: justify;
                    justify-content: space-between;
            text-align: left;
            margin-bottom: 45px;
         }
         .responsive__right-content-img {
            width: 20%;
            text-align: center;
        }
         
         .responsive__right-content-text {
            width: 75%;
         }
      }      
   }
}
// CLIENTS LOGO

.clients-logo {
   height: 160px;
   background-color: #ff7200;
   display: -webkit-box;
   display: flex;
   -webkit-box-align: center;
           align-items: center;
   -webkit-box-pack: center;
           justify-content: center;
   .clients-logo__slider {
      width: 75%;
      margin: 0 auto;
      outline: none;
      .clients-logo__item {
         display: -webkit-box;
         display: flex;
         -webkit-box-pack: center;
                 justify-content: center;
      }   
   }
      .slick-next {
         position: absolute;
         right: -10%;
         top: 50%;
         width: 50px;
         height: 50px;
         color: #f7f7f7;
         border: 2px solid #f7f7f7;
         background-color: rgba(0,0,0,.2);
         background-image: url('../media/right-button-second-slider.png');
         background-repeat: no-repeat;
         background-position: center;
         -webkit-transition-duration: .4s;
                 transition-duration: .4s; 
      }
      .slick-next:before {content: "";}
      .slick-next:hover{
         border-color: #ff7200;
         background-color: #f7f7f7;
         background-image: url('../media/right-button-orange-second-slider.png');
      }
      .slick-prev{
         position: absolute;
         left: -10%;
         top: 50%;
         width: 50px;
         height: 50px;
         color: #f7f7f7;
         border: 2px solid #f7f7f7;
         background-color: rgba(0,0,0,.2);
         background-image: url('../media/left-button-second-slider.png');
         background-repeat: no-repeat;
         background-position: center;
         -webkit-transition-duration: .4s;
                 transition-duration: .4s; 
      }
      .slick-prev::before {content: "";}
      .slick-prev:hover {
         border-color: #ff7200;
         background-color: #f7f7f7;
         background-image: url('../media/left-button-orange-second-slider.png');
      }
   }
// FOOTER

.footer {
   background-color: #303030;
   padding: 40px 0 80px 0;
   .footer__form-h2 {margin: 17px 0 30px 0;}
   .container {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
   }
   .footer__title {
      width: 23%;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      text-align: left;
      h2 {
         margin: 17px 0 25px 0;
         font-family: 'opensans';
         font-size: 18px;
         color: #fff;
         img {margin-right: 15px;}
      }
   }
   .footer__title1 {
      .footer__title-icon {
         display: -webkit-box;
         display: flex;
         -webkit-box-align: center;
                 align-items: center;
         -webkit-box-pack: justify;
                 justify-content: space-between;
         .title-icon {opacity: 0.6;}
         .title-icon:hover {opacity: 1;}
     }      
      p {
         margin: 0 0 5px 0;
         font-family: 'opensans-light';
         font-size: 14px;
         color: #fff;
      }
      .contact-info-p {
         margin-bottom: 26px;
         line-height: 1.5;
         font-size: 12px;
      }
      span {
         margin-bottom: 24px;
         font-family: 'opensans-light';
         font-size: 13px;
         color: #acabab;
      }
   }
   .footer__title2-wr {
      display: -webkit-box;
      display: flex;
      margin-bottom: 25px;
   }
   .footer__title2 {
      h3 {
         margin:0 0 10px 0;
         font-family: 'opensans';
         font-size: 14px;
         color: #fff;
      }
      p {
         margin: 7px 0 3px 0;
         font-family: 'opensans-light';
         font-size: 12px;
         color: #fff;
         line-height: 1.4;
      }
      span {
         font-family: 'opensans-light';
         font-size: 13px;
         color: #ff7200;
      }
      .footer__title2-text {margin-left: 15px;}
   }
   .footer__accordeon {
      p {
         text-align: left;
         font-family: 'opensans-light';
         font-size: 13px;
         color: #acabab;
         padding: 0;
         margin: 0 0 15px 0;
      }
      .footer__accordeon-btn {
         background-color: #303030;
         color: #fff;
         cursor: pointer;
         padding: 0;
         width: 100%;
         height: 45px;
         text-align: left;
         outline: none;
         border: none;
         border-top: 1px solid #dbdbdb;
         position: relative;
         -webkit-transition: 0.4s;
         transition: 0.4s;
         font-family: 'opensans';
         font-size: 14px;
      }
      .footer__accordeon-btn:after {
         content: '✛'; 
         position: absolute;
         top: 30%;
         right: 0;
         font-size: 10px;
         color: #fff;
         width: 16px;
         height: 16px;
         background-color: #ff7200;
         border-radius: 50%;
         display: -webkit-box;
         display: flex;
         -webkit-box-align: center;
                 align-items: center;
         -webkit-box-pack: center;
                 justify-content: center;}
      .active:after {
         content: "−"; 
      }
      .footer__accordeon-panel {
         padding: 0;
         background-color: #303030;
         display: none;
         overflow: hidden;
      }
   }
   .footer__form {
      width: 100%;
      input[type="text"]::-webkit-input-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
         position: relative;
      }
      input[type="text"]::-moz-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
         position: relative;
      }
      input[type="text"]:-ms-input-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
         position: relative;
      }
      input[type="text"]::-ms-input-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
         position: relative;
      }
      input[type="text"]::placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
         position: relative;
      }
      .footer__form-text-icon::before {
         content: '*';
         position: absolute;
         top: 0;
         left: 0;
         color: red;
      }
      input[type="email"]::-webkit-input-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
      }
      input[type="email"]::-moz-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
      }
      input[type="email"]:-ms-input-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
      }
      input[type="email"]::-ms-input-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
      }
      input[type="email"]::placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
      }
      textarea::-webkit-input-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
      }
      textarea::-moz-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
      }
      textarea:-ms-input-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
      }
      textarea::-ms-input-placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
      }
      textarea::placeholder {        
         font-family: 'opensans-light';
         font-size: 14px;
         color: #b6b5b5;
      }
      .footer__form-text, 
      .footer__form-email {
         position: relative;
         width: 100%;
         height: 35px;
         outline: none;
         z-index: 5;
         border: none;
         box-sizing: border-box;
         padding: 0 25px 0 10px;
         }
      .footer__form-text-icon {
         position: relative;
         margin-bottom: 20px;
         img {
            position: absolute;
            top: 10px;
            right: 10px; 
            z-index: 10;        
         }
      }
      .footer__form-email-icon {
         position: relative;
         margin-bottom: 20px;
         img {
            position: absolute;
            top: 10px;
            right: 7px; 
            z-index: 10;
         }
      }
      .footer__form-area-icon {
         position: relative;
         margin-bottom: 20px;
         img {
            position: absolute;
            top: 10px;
            right: 10px; 
            z-index: 10;
         }
      }
      .footer__form-area {
         position: relative;
         width: 100%;
         height: 120px;
         padding: 0;
         resize: none;
         outline: none;
         z-index: 5;
         border: none;
         box-sizing: border-box;
         padding: 10px 25px 0 10px;
      }
   }
   .footer__form-btn {
      width: 100%;
      height: 35px;
      border: none;
      background-color: #ff7200;
      color: #fff;
      font-family: 'opensans-light';
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      cursor: pointer;
      outline: none;
      img {margin-right: 10px;}
   }
   .footer__form-btn:hover {
      box-shadow: 0 0 20px 3px rgba(250, 250, 250, 0.5);
   }
}
// BUTTOM 

.buttom {
   height: 75px;
   background-color: #202020;
   padding-top: 10px;
   a {
      text-decoration: none;
      font-family: 'opensans-light';
      font-size: 18px;
      color: #ff7200;
      margin: 0 20px;
   }
   p {
      text-align: center;
      font-family: 'opensans-light';
      font-size: 12px;
      color: #fff;
      margin: 10px auto 0;
   }
   .buttom__content {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      .buttom__a {color: #fff;}
      .buttom__a-img:hover {
         box-shadow: 0 3px 10px rgba(250, 250, 250, 0.5);
     }   
      .buttom__a:hover {color: #ff7200;}
   }
   .buttom__right-content {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: end;
              justify-content: flex-end;
      a {
         text-decoration: none;
         font-family: 'opensans-light';
         font-size: 14px;
         color: #fff;
         margin-right: 20px;
   }
      a:hover {color: #ff7200;}
   }
}

@media screen and (max-width: 1080px) {
.menu .menu__list>li {
   margin: 0 3px;
   }
.team {
   .team__main-content {
      flex-wrap: wrap;   
   .team__main-content-title {
      width: 45%;
      }
   }
}
.galery {
   background-color: #666;
   .galery__titles {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      padding: 0 10%;
      -webkit-box-pack: center;
              justify-content: center;
   .title-galery {
      width: 45%;
      height: 255px;
      position: relative;
         }
      }
   }
}
@media screen and (max-width: 1112px) {
.main {
.menu__list {
   .menu__link {font-size: 13px;}
      }
   }
}   
@media screen and (max-width: 1023px) {
.main {
.menu__list {
   .menu__link {font-size: 12px;}
      }
   }
}
@media screen and (max-width: 1024px) {
   .responsive {
      padding: 0;
   }   
}
@media screen and (max-width: 960px) {
.main {
   header {
   .main__menu-mobile-wr {display: -webkit-box;display: flex;}
   nav {display: none;}
   }
   .main__slider {
      .main__slider-button2 {
         a {width: 160px;}          
      }  
   }
}   
.second {
   .second__menu-list > li > a {font-size: 7px;}
}
.clients-logo {
   .clients-logo__slider {
   .slick-prev {
      left: -13%;
   }
   .slick-next {
      right: -13%;
      }
   }
}
.team {
   padding-bottom: 30px;
}
.buy-oxxo {
   padding: 30px 0;
}
.galery {
   .galery__titles {
   .title-galery {
      width: 50%;
      }
   }
}
.responsive {
   .responsive__content {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
           flex-direction: column; 
     .responsive__right-content {
         max-width: 100%;
         margin: 50px auto 0;
      }
   }
}
.footer {
   padding: 40px 20px 80px 20px;
   .container {
      flex-wrap: wrap;
      .footer__title {
      width: 45%;
      }
   }
}
.buttom {
   .buttom__left-content {
   width: 50%;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: reverse;
           flex-direction: row-reverse;
   p {margin-right: 20px;}
      }
   }
}
@media screen and (min-width: 769px) {
.galery  {
   .galery__titles {
      .title-galery {display: -webkit-box;display: flex;}
      .galery__slider-mobile {display: none;}
      }
   }
}   
@media screen and (max-width: 768px) {
.main {
   padding-bottom: 50px;
   .main__slider {
   width: 100%;
   margin-top: 50px;
   }
   .main__slider-content1 {
      h1 {
         font-size: 35px;
         margin-bottom: 20px;
      }
      .main__slider-content1-items {
         ul {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
            -webkit-box-pack: center;
                    justify-content: center;
            padding: 0;

         li {
            font-size: 20px;
            margin: 0 0 35px 0;
            list-style-type: none;
            }
         } 
      }
   } 
   .main__slider-button1 {
      margin-top: 70px;
      a {margin: 0 auto;}
   }
   .main__slider-content2 {
      margin-top: 120px;
      p {
         font-size: 13px;
         margin-top: 30px;
      }
   .main__slider-button2 {
      -webkit-box-align: center;
              align-items: center;
      a {
         width: 82px;
         height: 10px;
         padding: 25px;
         font-size: 10px;
         margin: 0 20px 20px 0;
         }
      }
   }

}
.second {
   padding-bottom: 100px;
   .second__menu {display: none;}
   .second__content {
      padding-top: 40px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
   }
   .second__second-slider {
      margin: 0;
      width: 100%;
      img {width: 100%;}
   }
   .second__content-right {
   width: 100%;
   text-align: center;
   h2 {margin-top: 20px;}
   }
   .second__content-right-buttons {-webkit-box-pack: center;justify-content: center;}
}
.galery  {
   .galery__titles {
      .title-galery {display: none;}
      .galery__slider-mobile {display: -webkit-box;display: flex;}
      }
}  
   .responsive {
      .responsive__content {
         .responsive__img-mobile {
            width: 90%;
            display: block;
            position: relative;
            margin: 0 auto;
            img {width: 100%;}
         }   
      .responsive__image {display: none;}
      }
}
   .clients {
      .clients__slider {
         .slick-prev {
            top: 100%;
            left: 40%;
         }
         .slick-next {
            top: 100%;
            right:40%;
         }
         .clients__slider-slide {
            width: 80%;
            margin: 0 auto;
         }
      }
   }   
}  
@media screen and (max-width: 635px) {
.main {
   .main__slider-content2 {
      margin-top: 45px;
      p {
         font-size: 13px;
         margin-top: 30px;
      }
   .main__slider-button2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: center;
              align-items: center;
      a {
         width: 82px;
         height: 10px;
         padding: 25px;
         font-size: 10px;
         margin: 0 0 20px 0;
         }
      }
   }
}
.amazing {
   padding: 0;
.amazing__titles {
   padding: 0 10px;
   margin: 0;
   .amazing__title {width: 100%;}
   }
}
.team {
   padding: 0 0 30px 0;
.team__main-content {
.team__main-content-title {width: 100%;}
   }
}
.clients {
   .clients__slider {
      .slick-prev {
         top: 100%;
         left: 35%;
      }
      .slick-next {
         top: 100%;
         right:35%;
      }
      .clients__slider-slide {
         width: 80%;
         margin: 0 auto;
      }
   }
}
.footer {
   .footer__title-icon {
      a {
         img {width: 30px;}
      }
   }
}
.buttom {
   .buttom__content {
      .buttom__a {display: none;}
      .buttom__a-img {}
      }
   }
}
@media screen and (max-width: 414px) {
.second {
   padding-bottom: 160px;
   .second__content-right-buttons {
      margin-top: 25px;
      .second__button {
         a {
            margin: 0 10px;
            width: 120px;            
         }
      }
   }
}
.amazing {
   .amazing__center-content {
      h2 {font-size: 26px;}
   }
}
.galery  {
   .galery__titles {
      .galery-link1::before {
         content: '';
         left: 20%;
         top: 60%;
      }
      .galery-link2::before {
         content: '';
         right: 20%;
         top: 60%;
      }
      .galery-hover-footer {display: none;}   
   }
}
.clients {
   .clients__slider {
      .slick-prev {
         top: 105%;
         left: 30%;
      }
      .slick-next {
         top: 105%;
         right:30%;
      }
   }
}
.buy-oxxo{
    .buy-oxxo__buttons {
        a {font-size: 13px;}
      }
}
.responsive {
   .responsive__content {
      .responsive__right-content {
         .responsive__right-content-text{
            width: 70%;
         }
      }
   }
}
.clients-logo {
   .clients-logo__slider {
      .slick-prev {width: 30px;}
      .slick-next {width: 30px;}
   }
}
.footer {
   .container {
      .footer__form-btn {
         -webkit-box-pack: center;
                 justify-content: center;
         width: 100%;
         img {margin-right: 15px;}
      }
      .footer__title {width: 100%;}
      }
   }
}
@media screen and (max-width: 375px) {
   .main {
      .main__slider {
         width: 100%;
         margin-top: 0;
         .main__slider-button1 {margin-top: 0;}
         }      
      header {
         .main__logo-mobile {
            img {width: 50px;}
         }
         .main__menu-mobile-wr { 
            .main__mobile-nav {
               a {margin-bottom: 20px;}
            }
         }
      }
   }
}   




















